<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<array>
			<dict>
				<key>list</key>
				<array>
					<string>素描</string>
					<string>素描</string>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>乐器</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴2</string>
					<string>街舞2</string>
					<string>素描2</string>
					<string>吉他2</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈2</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
			<dict>
				<key>list</key>
				<array>
					<string>钢琴</string>
					<string>街舞</string>
					<string>素描</string>
					<string>吉他</string>
					<string>小提琴</string>
				</array>
				<key>title</key>
				<string>舞蹈</string>
			</dict>
		</array>
	</array>
	<key>category</key>
	<array>
		<string>艺术</string>
		<string>儿童心理学</string>
		<string>艺术2</string>
		<string>学前教育</string>
		<string>学前教育2</string>
		<string>学前教育3</string>
		<string>学前教育4</string>
	</array>
</dict>
</plist>
