<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evaluate</key>
	<string></string>
	<key>article</key>
	<array>
		<dict>
			<key>time</key>
			<string>2015-11-11 11:11</string>
			<key>content</key>
			<string>教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。</string>
			<key>id</key>
			<string>1</string>
			<key>title</key>
			<string>教育政策千遍万化</string>
		</dict>
		<dict>
			<key>time</key>
			<string>2015-11-11 11:11</string>
			<key>content</key>
			<string>教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。</string>
			<key>id</key>
			<string>1</string>
			<key>title</key>
			<string>教育政策千遍万化</string>
		</dict>
		<dict>
			<key>time</key>
			<string>2015-11-11 11:11</string>
			<key>content</key>
			<string>教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。教育原则亘古不变。</string>
			<key>id</key>
			<string>1</string>
			<key>title</key>
			<string>教育政策千遍万化</string>
		</dict>
	</array>
	<key>video</key>
	<array>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
	</array>
	<key>photo</key>
	<array>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
		<dict>
			<key>imageUrl</key>
			<string>机构图片</string>
			<key>title</key>
			<string>机构图片</string>
		</dict>
	</array>
</dict>
</plist>
